

/* mall devices (landscape phones, 576px and up) */
@media (max-width: 575px) { 
    h1{
        line-height: 40px;
    }
    .feature-single{
        margin-top: 15px;
    }
    .row__features{

        top: -380px;
        padding: 0 50px;
      }
      .row-hero {
        padding-bottom: 450px;
    }
    .challenge-content p {
        line-height: 24px;
    }
    .hero_bottom-center {
        line-height: 25px;
      }
      .card-challenge p {
        font-size: clamp(1rem, 0.6875rem + 1vw, 1.25rem);
      }
      .row__challenge{
        padding-top: 250px;
      }
 }

/* mall devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    h2 {
        font-size: clamp(1.5rem, -0.375rem + 6vw, 3rem);
      }
    h3 {
        font-size: clamp(1.3125rem, 0.5313rem + 2.5vw, 1.9375rem);
        font-weight: 600;
      }
      
    h1{
        line-height: 40px;
    }
    .card-challenge p {
        font-size: clamp(1rem, 0.6875rem + 1vw, 1.25rem);
      }
    .feature-single{
        margin-top: 15px;
    }
    .row__features{

        top: -240px;
        padding: 0 50px;
      }
      .row__challenge {
        padding-top: 140px;
    }

      .row-hero {
        padding-bottom: 270px;
    }
    .challenge-content p {
        line-height: 24px;
    }
    .hero_bottom-center {
        line-height: 25px;
      }
    
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    h2 {
        font-size: 30px;
      }
    h3{
        font-size: 22px;
    }

    h1{
        line-height: 71px;
    }
    .card-challenge p {
        font-size: 16px;
      }

    .feature-single{
        margin-top: 15px;
    }
    .row-hero{
        padding-bottom: 170px;
    }
    .row__features{

        top: -130px;
        padding: 0 30px;
      }

      .feature-single{
        min-height: 100%;
    
    }
    .challenge-content p {
        line-height: 30px;
    }
    .hero_bottom-center {
        line-height: 33px;
      }
      .row__challenge{
        padding-top: 50px;
      }
    
    
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    h2 {
        font-size: clamp(1.5rem, -0.375rem + 6vw, 3rem);
      }
    h3 {
        font-size: clamp(1.3125rem, 0.5313rem + 2.5vw, 1.9375rem);
        font-weight: 600;
      }
      .card-challenge p {
        font-size: clamp(1rem, 0.6875rem + 1vw, 1.25rem);
      }
      .row-hero{
        padding-bottom: 160px;
    }
    .row__features{
        top: -120px;
        padding: 0 90px;
      }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    .row-hero{
        padding-bottom: 150px;
    }
    .row__features {
        top: -100px;
        padding: 0px 240px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }
