:root {
  /* color */
  --white-900: #ffffff;
  --blue-200: #e4efff;
  --blue-500: #007aff;
  --blue-800: #1b219e;
  --blue-900: #16176a;
  --black-700: #000203;
  --black-900: #000000;
  --black-500: #333333;
  --black-400: #14161a;
  --red-800: #f23a3c;
  --gray-800: #666666;
  --gray-500: #57647e;
  --yellow-500: #f5b412;
}
/* global start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1 {
  font-size: clamp(1.9375rem, -1.1875rem + 10vw, 4.4375rem);
  font-weight: 800;

}

h2 {
  font-size: clamp(1.5rem, -0.375rem + 6vw, 3rem);
  color: var(--black-900);
  font-weight: 700;
}

h3 {
  font-size: clamp(1.3125rem, 0.5313rem + 2.5vw, 1.9375rem);
  font-weight: 600;
}

h4 {
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
}




h6 {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 6px;
  line-height: 25px;
}

/* btn */

.full__rounded {
  border-radius: 50px;
}

.blue__btn,
.white__btn {
  padding: 12px 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  box-shadow: 0px 2px 18px 0px rgba(0, 122, 255, 0.51);
}

.blue__btn {
  background-color: var(--blue-500);
  color: var(--white-900);
}

.blue__btn:hover {
  color: var(--white-900);
}

.white__btn {
  background-color: var(--white-900);
  color: var(--blue-500);
  margin-top: 20px;
}

.white__btn:hover {
  color: var(--blue-500);
}

/* global end */
/* hero start */
#hero {
  background-image: url(../images/financial-technology-36-scaled-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.row-hero {
  padding-top: 70px;
  padding-bottom: 140px;
}

.hero-content img {
  width: 100px;
  text-align: center;
  padding: 40px 0;
}
.hero-content h6 {
  padding-bottom: 10px;
}

.hero-content h1,
h6 {
  color: var(--white-900);
}

.main__form {
  background-color: var(--blue-200);
  max-width: 600px;
  padding: 38px;
  border-radius: 4px;
}

.form-label {
  font-size: 1rem;
  color: var(--black-900);
  font-weight: 600;
  padding-left: 2px;
}

.star {
  color: var(--red-800);
  padding-left: 5px;
  font-size: 1.125rem;
}

.form__pera {
  font-size: 0.75rem;
  color: var(--gray-500);
  padding-left: 5px;
  font-weight: 500;
  padding-top: 8px;
}

.form-control:focus {
  border-color: var(--blue-800);
  outline: 0;
  box-shadow: 0 0 0 0.05rem rgba(13, 110, 253, 0.25);
}

.btn__area {
  padding-top: 20px;
}

.border__bule {
  border-bottom: 0.5px solid var(--blue-800);
}

.custom__form-btn {
  background-color: var(--blue-800);
  color: var(--white-900);
  font-size: 0.875rem;
  padding: 12px 70px;
  font-weight: 500;
}
.custom__form-btn:hover {
  background-color: var(--blue-900);
  color: var(--white-900);
}

.hero_bottom-center {
  color: var(--white-900);
  font-size: clamp(0.875rem, 0.5625rem + 1vw, 1.125rem);
  font-weight: 600;
  line-height: 33px;
  text-align: center;
  padding: 30px 0;
}

/* hero end */

/* feature start */
#features {
  position: relative;
  padding-top: 160px;
}

.row__features {
  position: absolute;
  top: -90px;
  left: 0;
  padding: 0 300px;
}

.feature-single {
  min-height: 100px;
  background-color: var(--white-900);
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 6px;
}
.feature-single i {
  font-size: 30px;
  color: var(--blue-500);
}
.feature-single p {
  font-size: 14px;
  color: var(--black-500);
  font-weight: 500;
}
/* feature end */

/* challenge start */
.blue__main {
  color: var(--blue-500);
}
.row__challenge h2,
h3 {
  font-style: italic;
}

.challenge-content p {
  font-size: clamp(1rem, 0.5313rem + 1.5vw, 1.375rem);
  font-weight: 500;

  padding-bottom: 10px;
}

.video-wrapper iframe {
  border-radius: 8px;
  margin-top: 30px;
}

.challange__more-header h3 {
  padding-top: 30px;
  font-style: normal;
  font-weight: 600;
}
.challange__more-header h3 span {
  color: var(--red-800);
}

.card-challenge {
  background-color: var(--blue-500);
  color: var(--white-900);
  margin-top: 20px;
  padding: 30px;
  border-radius: 8px;
}

.card-challenge h2 {
  color: var(--white-900);
}
.card-challenge h3 {
  font-style: normal;
}
.card-challenge p {
  padding-top: 10px;
}

.row__challenge {
  padding: 50px 0;
}

.row-challenge_main {
  padding-bottom: 50px;
}

/* challenge end */

/* testimonial start */
.row__testimonial {
  padding: 50px 0;
}

.testimonial__content-wrapper h2 {
  padding-bottom: 30px;
}
.testimonial__content-wrapper a {
  margin-bottom: 30px;
}

.testimonial__image {
  padding-top: 20px;
}
/* testimonial end */

/* faq start */
#faq {
  background-color: var(--black-700);
}
.row__faq {
  padding: 50px 0;
}

.faq__content h2 {
  color: var(--white-900);
  padding-bottom: 30px;
}

.accordion-item {
  margin-top: 20px;
  border-radius: 10px;
}
.accordion-button {
  border-radius: 10px;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E");
  padding: 7px;
  background-color: var(--white-900);
  border-radius: 40px;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E");
  padding: 7px;
  background-color: var(--white-900);
  border-radius: 40px;
}

button.accordion-button.collapsed {
  background-color: var(--black-400);
}
.accordion-button:focus {
  outline: none;
  border-color: none;
  box-shadow: none;
}

.accordion-button:focus{
  box-sizing: none;
  border: 1px solid var(--gray-800);
}
.accordion-button{
  color: var(--white-900);
  font-size: 16px;
  font-weight: 600;
}

.accordion-item {
  background-color: var(--black-400);
  font-size: 14px;
  font-weight: 500;
}
.accordion-item:not(.collapsed){
  color: var(--white-900);
}

.accordion-button:not(.collapsed){
  background-color: var(--black-400);
  color: var(--white-900);
}
/* faq end */

/* footer start */

#footer{
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: var(--black-900);
  color: var(--white-900);
}
.top__footer-wrapper img{
  width: 100px;
  padding-bottom: 30px;
}

.top__footer-content p{
  font-size: 12px;

}

.row__top-footer{
  border-bottom: 0.5px solid var(--white-900);
  padding-bottom: 20px;
}
.row__bottom-footer{
  padding-top: 30px;
}
.bottom__footer-links a{
  font-size: 14px;
  color: var(--white-900);
}

.bottom__footer-copyright p{
  font-size: 14px;
  padding-top: 10px;
}
/* footer end */
